input:valid {
  border-color: green;
}

input:invalid {
  border-color: red;
}

input:focus:valid {
  box-shadow: 0 0 0 0.25rem rgba(0,128,0,.25);
  border-color: green;
}

input:focus:invalid {
  box-shadow: 0 0 0 0.25rem rgba(196,0,0,.25);
  border-color: red;
}