
#grid-container {
  display: grid;
  grid-template-columns: [browse] 20vw [primary] 60vw [cart] 20vw [stop];
  grid-template-rows: [nav] 48px [primary] auto [notify] 48px [bottom];
  grid-template-areas: "nav nav nav" "browse primary cart" "notify notify notify";
  row-gap: 4px;
  column-gap: 4px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#grid-navbar {
  grid-area: nav;
}

#grid-browse {
  grid-area: browse;
  overflow-y: scroll;
  padding: 0 4px;
}

#grid-primary {
  grid-area: primary;
  padding: 12px;
}

#grid-cart {
  grid-area: cart;
  padding: 0 4px;
  overflow-y: scroll;
}

#grid-notify {
  grid-area: notify;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (max-width: 992px) {
  #grid-container {
    display: flex;
    flex-direction: column;
    
    width: 100vw;
    height: auto;
    overflow-x: hidden;
  }

  #grid-browse, #grid-cart {
    overflow-y: auto;
    height: auto;
  }
}