<div id="grid-primary">
  <h1>INVOICE</h1>

  <div class="row">
    <div class="col-6">

    </div>
    <div class="col-3">
      <strong>Remit Payment To</strong>
      <p>
        FIRST Indiana Robotics<br>
        1701 E Edgewood Ave<br>
        PO Box 17493<br>
        Indianapolis, IN 46227<br>
      </p>
    </div>
    <div class="col-3">
      <dl>
        <dt>Invoice Number</dt>
        <dd><%= @cart.prefix %>-<%= @cart.number %></dd>
        <dt>Invoice Date</dt>
        <dd><%= Time.strptime(@cart.number, '%y%m%d%H%M%S').strftime('%B %d, %Y') %></dd>
      </dl>
    </div>
  </div>

  <table class="table w100">
    <thead>
      <tr>
        <th>Line Item</th>
        <th>Ea.</th>
        <th>Qty</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.pricing.lines.select{ |l| l.min_price.to_i.abs > 0 }.each do |item| %>
        <tr>
          <td><%= item.line.gsub('|', '<br>') %></td>
          <td>$<%= item.max_price %></td>
          <td><%= item.quantity %></td>
          <td>$<%= item.max_price * item.quantity %></td>
        </tr>
      <% end %>
      <tr>
        <td><strong>TOTAL</strong></td>
        <td></td>
        <td></td>
        <td>$<%= @cart.pricing.max_total %></td>
      </tr>
    </tbody>
  </table>

  <p>
    Need our W9? Find it at <a href="https://www.firstindianarobotics.org/wp/media/2024-FIN-W9.pdf" target="_blank">https://www.firstindianarobotics.org/wp/media/2024-FIN-W9.pdf</a>
  </p>
</div>
