<div id="grid-primary">
  <table class="table w100">
    <thead>
      <tr>
        <th>Line Item</th>
        <th>Ea.</th>
        <th>Qty</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.pricing.lines.select{ |l| l.min_price.to_i.abs > 0 }.each do |item| %>
        <tr>
          <td><%= item.line.gsub('|', '<br>') %></td>
          <td>$<%= item.max_price %></td>
          <td><%= item.quantity %></td>
          <td>$<%= item.max_price * item.quantity %></td>
        </tr>
      <% end %>
      <tr>
        <td><strong>TOTAL</strong></td>
        <td></td>
        <td></td>
        <td>$<%= @cart.pricing.max_total %></td>
      </tr>
    </tbody>
  </table>

  <a href="/stripe" data-turbo="false" class="btn btn-xl btn-primary">Go to Checkout</a>
</div>
