<div id="grid-browse">
  <h2>Catalog</h2>
  <% Teensy::Catalog::Product.each do |k,p| %>
    <a href="/catalog/<%= k %>">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%= p.data['image'] ? '/' + p.data['image'] : 'https://placehold.co/200x200' %>" class="img-fluid rounded" alt="">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-title h6"><%= p.name %></p>
              <p class="card-text"><small class="text-body-secondary"><%= price_for(p.price) %></small></p>
            </div>
          </div>
        </div>
      </div>
    </a>
  <% end %>
</div>
<div id="grid-primary">
  <% if @product %>
    <h2><%= @product.name %></h2>

    <form method="GET" id="cartForm" data-turbo-frame="pricingbox" data-turbo-action="advance">
      <div class="row mb-3">
        <div class="col-12 col-md-4">
          <img src="<%= @product.data['image'] ? '/' + @product.data['image'] : 'https://placehold.co/200x200' %>" class="img-fluid rounded" alt="">
        </div>
        <div class="col-12 col-md-8">
          <% if !@product.fields&.empty? %>
            <% @product.fields.each do |key, field| %>
              <% if field.type == 'Numeric'  %>
                <label class="form-label" for="<%= key %>"><%= field.label %></label>
                <input class="form-control" min="1" type="number" name="<%= key %>" value="<%= @product.customizations[key] %>" <%= field.required ? 'required' : '' %>>
              <% elsif field.type == 'String' %>
                <label class="form-label" for="<%= key %>"><%= field.label %></label>
                <input class="form-control" type="text" name="<%= key %>" value="<%= @product.customizations[key] %>" <%= field.required ? 'required' : '' %>>
              <% elsif field.type == 'Select' %>
                <label class="form-label" for="<%= key %>"><%= field.label %></label>
                <select class="form-control" type="text" name="<%= key %>" <%= field.required ? 'required' : '' %>>
                  <% if field.options.is_a? Hash %>
                    <% field.options.each do |k, opt| %>
                      <option value="<%= k %>"><%= opt %></option>
                    <% end %>
                  <% else %>
                    <% field.options.each do |opt| %>
                      <option value="<%= opt %>"><%= opt %></option>
                    <% end %>
                  <% end %>
                </select>
              <% end %>
            <% end %>
          <% end %>

          <div class="row mt-3 align-items-center">
            <turbo-frame class="col-md-6" id="pricingbox">
              <div class="h2">
                <%= price_for(@pricing) %>
              </div>
            </turbo-frame>
            <div class="col">
              <button type="button" class="btn btn-lg btn-primary" id="addToCart" <%= @product.complete? ? '' : 'disabled' %>>Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <%= @product.description %>

  <% else %>
    <%= erb :home, layout: false %>
  <% end %>

  
</div>
<turbo-frame id="grid-cart">
  <h3>Cart</h3>

  <% if !@cart.empty? %>
    <% @cart.items.each do |item| %>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-12">
            <div class="card-body">
              <a href="/catalog/<%= item.id %>"><p class="card-title h6"><%= item.name %></p></a>
              <% item.customizations.each do |k, v| %>
                <p class="card-text"><strong><%= item.fields[k].label %></strong>: <%= v %></p>
              <% end %>
              <form method="DELETE">
              <input type="hidden" name="item" value="<%= ERB::Util.url_encode item.to_json %>">
              <p class="card-text"><small class="text-body-secondary"><%= price_for(item.price) %></small> &nbsp; <button class="btn btn-sm btn-danger" type="submit"><i class="fa-solid fa-fw fa-trash"></i></button></p>
              </form>
            </div>
          </div>
        </div>
      </div>
  <% end %>
    <% Teensy::Checkouts::Engine.each do |k, cko| %>
      <a href="/checkouts/<%= cko.slug %>" data-turbo="false" class="btn d-block mb-2 btn-primary"><%= cko.button %></a>
    <% end %>
  <% else %>
    <p>Your cart is empty!</p>
  <% end %>
</turbo-frame>

<script>
  <% if @product %>
  document.getElementById('addToCart').addEventListener('click', e => {
    e.preventDefault()
    let form = document.getElementById('cartForm')
    if(form.checkValidity()) {
      form.dataset.turboFrame = 'grid-cart'
      form.method = "POST";
      form.requestSubmit();
      //window.setTimeout( () => window.location.reload(), 500)
      
    } else {
      alert("Please fill out all of the required fields.")
    }
  })
  <% end %>

  document.querySelectorAll('form').forEach( f => {
    f.addEventListener('change', e => {
      e.preventDefault()
      let form = document.getElementById('cartForm')
      form.method = "PATCH";
      form.requestSubmit();
    })
  })

  document.querySelectorAll('form[method="DELETE"] button').forEach( f => {
    f.addEventListener('click', e => {
      e.preventDefault()
      const response = fetch(e.currentTarget.parentNode.parentNode.action, {
        method: 'DELETE',
        body: new FormData(e.currentTarget.parentNode.parentNode)
      }).then( () => window.location = window.location )
      
    })
  })


</script>