<div id="grid-primary">
  <h1>Invoice Lookup</h1>

  <form action="/invoices" method="POST" data-turbo="false">
    <label class="form-label" for="num">Invoice Number</label>
    <div class="input-group mb-3">
      <span class="input-group-text"><%= @cart.prefix %>-</span>
      <input class="form-control" type="text" name="num" required>
    </div>

    <button type="submit" class="btn btn-lg btn-primary">Look Up</button>
  </form>
</div>