<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TeensyCommerce</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/grid.css">
    <link rel="stylesheet" href="/form.css">
    <link rel="stylesheet" href="/card.css">
    <link rel="stylesheet" href="/nav.css">
  </head>
  <body>
    <section id="grid-container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-around" id="grid-navbar">
        <div>
          <a class="navbar-brand" href="/">FIRST Indiana Robotics Payment Portal</a>
        </div>
      </nav>

      <%= yield %>

      <div id="grid-notify">
      <div><small>Powered by <img src="/logo.svg"></small></div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/aa31d75a47.js" crossorigin="anonymous"></script>
    <script type="module">
      import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo@^7.3';
    </script>
    <script>
      document.querySelectorAll('[data-scroll]').forEach( f => { 
        f.addEventListener('click', e => {
          if(e.currentTarget.dataset.scroll == 'left')
            document.querySelector('body').clientLeft += 100 
         })
      })
    </script>
  </body>
</html>