
<div id="grid-primary">
  <p class="h3">Your payment was successful!</p>

  <p>
    You should recieve a payment receipt via email shortly.
    If you don't see it within the next day, please let us know.
  </p>
</div>